//register

//checkbox點擊樣式
.custom-control-label::before {
    background-color: $lighter;
    border: 0px;

}

.custom-control-input:checked ~ .custom-control-label::before {
    color: $white;
    border:1px solid $white;
    background: $green;
    box-shadow: none;
}

//input,placeholder

.form-control::placeholder{
    font-size: 19px;
}

.text-list-conect{
    color: $gray;
}

.btn-brand-light{
    @include button-variant ($white , $primary-200); /*(bg , border)*/
}


.form-square .form-square-icon-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.input-bg-light{
    background-color: $lighter!important;
}

//conect fb google yahoo

@media (min-width: 992px){
    .pr-lg-10, .px-lg-10 {
        padding-right: 8rem !important;
        padding-left: 8rem !important;
    }
}

@media (min-width: 1200px){
    .pr-lg-10, .px-lg-10 {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
}
